
@model List<AuthenticationRole_base.Models.Product>
@{
    ViewData["Title"] = "المنتجات";
}
@section Styles {
    <link rel="stylesheet" href="~/css/productspage.css" />
}
<pre>

</pre>
<section class="products" id="products">
    <h2 class="section-title">باقة منتجات بلو جرين</h2>
    <hr />
    <pre>


    </pre>
    <div class="products-grid">
        @foreach (var product in Model)
        {
            <a asp-action="Details" asp-route-id="@product.Id" class="product-card">
                <img src="~/products/@product.ImageFileName" alt="@product.Name" class="product-img">
                <div class="product-info">
                    <h3>@product.Name</h3>
                    <p>@product.Description</p>
                </div>
            </a> 
        }
    </div>
</section>
<pre>




</pre>