@using Microsoft.AspNetCore.Identity
@using AuthenticationRole_base.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    <div class="auth-buttons mobile">

        @if (User.IsInRole("admin"))
		{
            <button class="button-outline" style="visibility:hidden">تسجيل الخروج</button>
			<a id="admin" asp-area="Identity" asp-page="/Admin"><button class="button-green">لوحة التحكم</button></a>
		}
        
		else
		{
            <button class="button-outline" style="visibility:hidden">تسجيل الخروج</button>
		}

    </div>
</ul>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'));
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl);
        });
    });
</script>
