@{
    ViewData["Title"] = "الصفحة غير موجودة";
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">404</h1>
    <p class="lead">عذرًا، الصفحة التي تبحث عنها غير موجودة.</p>
    <a class="btn btn-success" href="/">العودة إلى الصفحة الرئيسية</a>
</div>
