@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (User.IsInRole("admin"))
{
    <a asp-area="Identity" asp-page="/Admin">Admin</a>

}
else if (User.IsInRole("seller"))
{
    <a asp-area="Identity" asp-page="/Seller">Seller</a>

}
else
{
    <a asp-area="Identity" asp-page="/User">User</a>

}

